<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500408481133-ggs90dv8vh8ufssene9o9nd8ickg8b4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500408481133-ggs90dv8vh8ufssene9o9nd8ickg8b4h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>500408481133-5i162ciijd5rt409imi349j5roa0tqjs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBI_7WrA5RuOaT7jZxS4IGnuibSrbey2ow</string>
	<key>GCM_SENDER_ID</key>
	<string>500408481133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nodev.airbnbtemplate</string>
	<key>PROJECT_ID</key>
	<string>airbnb-template-22d40</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-template-22d40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500408481133:ios:1aaf095ba7f25ba0fed664</string>
</dict>
</plist>